<div class="main-container">
  <div class="outer-wrap section-large section-one">
    <div class="title">
      <span class="col-md-3 col-lg-3">Videos</span>
      <span class="browse"><a href="#">Browse All Videos</a></span>
    </div>

    <div class="content content-large">
      <img src="https://i.imgur.com/QKaLgf3.jpeg" alt="coke" />
      <div class="content-title">
        <span class="headline">How to improve your skill</span>
        <div class="sub">
          <span class="title-name">Waseem Arshad</span>
          <span class="views">187283 views</span>
        </div>
      </div>
    </div>

    <div class="content content-small">
      <img src="https://i.imgur.com/BRpkn3s.png" alt="orange" />
      <div class="content-title">
        <div class="sub">
          <span class="title-name">Michael Keliph</span>
          <span class="views">15454 views</span>
        </div>
      </div>
    </div>
    <div class="content content-small">
      <img src="https://i.imgur.com/XxmPaUT.jpeg" alt="memory" />
      <div class="content-title">
        <div class="sub">
          <span class="title-name">Ahmed Yasin</span>
          <span class="views">1984 views</span>
        </div>
      </div>
    </div>
    <div class="content content-small">
      <img src="https://i.imgur.com/NtflA35.jpeg" alt="cow" />
      <div class="content-title">
        <div class="sub">
          <span class="title-name">John Stainior</span>
          <span class="views">2554 views</span>
        </div>
      </div>
    </div>
    <div class="content content-small">
      <img src="https://i.imgur.com/UoLTBcA.png" alt="slice" />
      <div class="content-title">
        <div class="sub">
          <span class="title-name">John Doe</span>
          <span class="views">2354 views</span>
        </div>
      </div>
    </div>

    <div class="content content-small upload">
      <div class="upload-title">
        <div class="icon-up">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-up-circle"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"
            />
          </svg>
        </div>
        <div class="title-up">
          <span>Upload</span>
          <span>Your Own Video</span>
        </div>
      </div>
    </div>
  </div>
  <div class="outer-wrap section-side activity">
    <div class="title side-part side-sub">
      <span class="col-md-3 col-lg-3">Activity</span>
      <span class="links"
        ><a href="#">View timeline / Filter activities</a></span
      >
    </div>
    <div class="side-part side-content">
      <div class="activity-box">
        <div class="triangle-wrap">
          <span class="triangle-topright"></span>
          <span class="ex">x</span>
        </div>

        <div class="box-content">
          <div class="part thumb"></div>
          <div class="part details">
            <div class="people">
              <span class="name">John Stainior</span>
              <span class="act">commented</span>
            </div>
            <div class="comment">Well im liking it how it captures the end</div>
            <div class="time">
              <span class="time-icon"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chat-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"
                  /></svg
              ></span>
              <span class="time-detail">2 seconds ago</span>
            </div>
          </div>
        </div>
      </div>

      <div class="activity-box">
        <div class="triangle-wrap">
          <span class="triangle-topright"></span>
          <span class="ex">x</span>
        </div>

        <div class="box-content">
          <div class="part thumb"></div>
          <div class="part details">
            <div class="people">
              <span class="name">John Stainior</span>
              <span class="act">added a new video</span>
            </div>
            <div class="comment">
              Creative people must follow these guideline
            </div>
            <div class="time">
              <span class="time-icon"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-camera-reels-fill"
                  viewBox="0 0 16 16"
                >
                  <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                  <path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                  <path
                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7z"
                  /></svg
              ></span>
              <span class="time-detail">5 minutes ago</span>
            </div>
          </div>
        </div>
      </div>

      <div class="activity-box">
        <div class="triangle-wrap">
          <span class="triangle-topright"></span>
          <span class="ex">x</span>
        </div>

        <div class="box-content">
          <div class="part thumb"></div>
          <div class="part details">
            <div class="people">
              <span class="name">John Stainior</span>
              <span class="act">shared a document</span>
            </div>
            <div class="comment">"How to become an expert"</div>
            <div class="time">
              <span class="time-icon"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-sticky-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1h-11zm6 8.5a1 1 0 0 1 1-1h4.396a.25.25 0 0 1 .177.427l-5.146 5.146a.25.25 0 0 1-.427-.177V9.5z"
                  /></svg
              ></span>
              <span class="time-detail">1 day ago</span>
            </div>
          </div>
        </div>
      </div>

      <div class="activity-box">
        <div class="triangle-wrap">
          <span class="triangle-topright"></span>
          <span class="ex">x</span>
        </div>

        <div class="box-content">
          <div class="part thumb"></div>
          <div class="part details">
            <div class="people">
              <span class="name">Arjun</span>
              <span class="act">unlocked new badge</span>
            </div>
            <div class="comment">Social Guru</div>
            <div class="time">
              <span class="time-icon"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-unlock-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"
                  /></svg
              ></span>
              <span class="time-detail">44 minutes ago</span>
            </div>
          </div>
        </div>
      </div>

      <div class="activity-box">
        <div class="triangle-wrap">
          <span class="triangle-topright"></span>
          <span class="ex">x</span>
        </div>

        <div class="box-content">
          <div class="part thumb"></div>
          <div class="part details">
            <div class="people">
              <span class="name">Michael</span>
              <span class="act">uploaded a new video</span>
            </div>
            <div class="comment">How do I start a website design project</div>
            <div class="time">
              <span class="time-icon"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-camera-reels-fill"
                  viewBox="0 0 16 16"
                >
                  <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                  <path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                  <path
                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7z"
                  /></svg
              ></span>
              <span class="time-detail">1 hour ago</span>
            </div>
          </div>
        </div>
      </div>

      <div class="activity-box">
        <div class="triangle-wrap">
          <span class="triangle-topright"></span>
          <span class="ex">x</span>
        </div>

        <div class="box-content">
          <div class="part thumb"></div>
          <div class="part details">
            <div class="people">
              <span class="name">John Stainior</span>
              <span class="act">liked a video</span>
            </div>
            <div class="comment">Some marketing tricks</div>
            <div class="time">
              <span class="time-icon"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-suit-heart-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"
                  /></svg
              ></span>
              <span class="time-detail">19 minutes ago</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="outer-wrap section-large section-two">
    <div class="title">
      <span class="col-md-3 col-lg-3">People</span>
      <span class="browse"><a href="#">View All</a></span>
    </div>

    <div class="content content-large">
      <!-- image thumbnail -->
      <div class="content-title">
        <span class="headline">How to improve your skill</span>
        <div class="sub">
          <span class="title-name">Waseem Arshad</span>
          <span class="views">187283 views</span>
        </div>
      </div>
    </div>

    <div class="content content-small">
      <!-- image thumbnail -->
      <div class="content-title">
        <div class="sub">
          <span class="title-name">Michael Keliph</span>
          <!-- <span class="views">15454 views</span> -->
        </div>
      </div>
    </div>
    <div class="content content-small">
      <!-- image thumbnail -->
      <div class="content-title">
        <div class="sub">
          <span class="title-name">Ahmed Yasin</span>
          <!-- <span class="views">1984 views</span> -->
        </div>
      </div>
    </div>
    <div class="content content-small">
      <!-- image thumbnail -->
      <div class="content-title">
        <div class="sub">
          <span class="title-name">John Stainior</span>
          <!-- <span class="views">2554 views</span> -->
        </div>
      </div>
    </div>
    <div class="content content-small">
      <!-- image thumbnail -->
      <div class="content-title">
        <div class="sub">
          <span class="title-name">John Doe</span>
          <!-- <span class="views">2354 views</span> -->
        </div>
      </div>
    </div>

    <div class="content content-small upload">
      <div class="upload-title">
        <div class="icon-up">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-vinyl"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="M8 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zM4 8a4 4 0 1 1 8 0 4 4 0 0 1-8 0z"
            />
            <path d="M9 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
          </svg>
        </div>
        <div class="title-up">
          <span>Show</span>
          <span>Your Work</span>
        </div>
      </div>
    </div>
  </div>
  <div class="outer-wrap section-side channels">
    <div class="title side-part side-sub">
      <span class="col-md-3 col-lg-3">Channels</span>
      <span class="links"><a href="#">Browse all channels</a></span>
    </div>
    <div class="side-part side-content">
      <div class="channel-box">
        <div class="triangle-wrap">
          <span class="triangle-topright"></span>
          <span class="plus">+</span>
        </div>

        <div class="channel-title">Google</div>
      </div>
      <div class="channel-box">
        <div class="triangle-wrap">
          <span class="triangle-topright"></span>
          <span class="plus">+</span>
        </div>

        <div class="channel-title">Dribbble</div>
      </div>
      <div class="channel-box">
        <div class="triangle-wrap">
          <span class="triangle-topright"></span>
          <span class="plus">+</span>
        </div>

        <div class="channel-title">Microsoft</div>
      </div>
      <div class="channel-box">
        <div class="triangle-wrap">
          <span class="triangle-topright"></span>
          <span class="plus">+</span>
        </div>

        <div class="channel-title">Behance</div>
      </div>
      <div class="channel-box">
        <div class="triangle-wrap">
          <span class="triangle-topright"></span>
          <span class="plus">+</span>
        </div>

        <div class="channel-title">Weather Channel</div>
      </div>
      <div class="channel-box">
        <div class="triangle-wrap">
          <span class="triangle-topright"></span>
          <span class="plus">+</span>
        </div>

        <div class="channel-title">Gurus</div>
      </div>
      <div class="channel-box">
        <div class="triangle-wrap">
          <span class="triangle-topright"></span>
          <span class="plus">+</span>
        </div>

        <div class="channel-title">iMedia</div>
      </div>
      <div class="channel-box">
        <div class="triangle-wrap">
          <span class="triangle-topright"></span>
          <span class="plus">+</span>
        </div>

        <div class="channel-title">Creativeye</div>
      </div>
      <div class="channel-box">
        <div class="triangle-wrap">
          <span class="triangle-topright"></span>
          <span class="plus">+</span>
        </div>

        <div class="channel-title">Khan Studios</div>
      </div>
      <div class="channel-box">
        <div class="triangle-wrap">
          <span class="triangle-topright"></span>
          <span class="plus">+</span>
        </div>

        <div class="channel-title">Yahoo</div>
      </div>
    </div>
  </div>

  <div class="outer-wrap section-large section-three">
    <div class="title">
      <span class="col-md-3 col-lg-3">Documents</span>
      <span class="browse"><a href="#">Browse All Documents</a></span>
    </div>

    <div class="content content-large">
      <!-- image thumbnail -->
      <div class="content-title">
        <span class="headline">How to improve your skill</span>
        <div class="sub">
          <span class="title-name">Waseem Arshad</span>
          <span class="views">187283 views</span>
        </div>
      </div>
    </div>

    <div class="content content-small">
      <!-- image thumbnail -->
      <div class="content-title">
        <div class="sub">
          <span class="title-name">Michael Keliph</span>
          <span class="views">15454 views</span>
        </div>
      </div>
    </div>
    <div class="content content-small">
      <!-- image thumbnail -->
      <div class="content-title">
        <div class="sub">
          <span class="title-name">Ahmed Yasin</span>
          <span class="views">1984 views</span>
        </div>
      </div>
    </div>
    <div class="content content-small">
      <!-- image thumbnail -->
      <div class="content-title">
        <div class="sub">
          <span class="title-name">John Stainior</span>
          <span class="views">2554 views</span>
        </div>
      </div>
    </div>
    <div class="content content-small">
      <!-- image thumbnail -->
      <div class="content-title">
        <div class="sub">
          <span class="title-name">John Doe</span>
          <span class="views">2354 views</span>
        </div>
      </div>
    </div>

    <div class="content content-small upload">
      <div class="upload-title">
        <div class="icon-up">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-plus-circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
            />
          </svg>
        </div>
        <div class="title-up">
          <span>Share</span>
          <span>Your Document</span>
        </div>
      </div>
    </div>
  </div>
</div>
